<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NETD3202_Lab5Communication_RyanClayson</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">NETD3202 | Lab#5 | Ryan Clayson</a>
        <div>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <img src="~/nba2.jpg" style="width:80%;height:80%;margin-left:5%" alt="Logo" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <span data-feather="file"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Players" asp-action="Index">
                                <span data-feather="file"></span>
                                NBA Player List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="PlayerDetails" asp-action="Index">
                                <span data-feather="file"></span>
                                NBA Player Info
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="">
                    <div class="text-center">
                        @RenderBody()
                    </div>
                </div>
                <footer>
                </footer>
            </main>
        </div>
    </div>
@RenderSection("Scripts", required: false)
</body>
</html>
