<!--Ryan Clayson
 * NETD 3202 - Lab 5 Comm Activity
 * December 6, 2020
 * This ASP.NET Core application is designed to allow the user to enter an NBA Player and add it to a database
 * Added Login Functionality, Registration for new user
 * Purpose: To Create new Entry
-->
@model NETD3202_Lab5Communication_RyanClayson.Models.PlayerDetails

@{
    ViewData["Title"] = "Create";
}

<div>
    <h4>Add Additonal Player Info</h4>
    <hr />
    <div>
        <div style="margin-left: 30%; margin-right: 30%;">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="playerID" class="control-label"> Player ID</label>
                    <input asp-for="playerID" class="form-control" />
                    <span asp-validation-for="playerID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerAge" class="control-label">Age</label>
                    <input asp-for="playerAge" class="form-control" placeholder="e.g. 27" />
                    <span asp-validation-for="playerAge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerHeight" class="control-label">Height</label>
                    <input asp-for="playerHeight" class="form-control" placeholder="e.g. 6'9" />
                    <span asp-validation-for="playerHeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playerWeight" class="control-label">Weight</label>
                    <input asp-for="playerWeight" class="form-control" placeholder="lbs" />
                    <span asp-validation-for="playerWeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a style="color: blue" asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
