<!--Error page for PlayerDetails-->
<div>
    <h1 class="display-4">Error!</h1>
    <hr />
    <p class="lead">
        Either the Player ID was not found or this Player ID is already on the additional details list.
    </p>

    <p class="lead">
        <a asp-controller="PlayerDetails" asp-action="Create" class="btn btn-primary">Try Again</a>
    </p>
</div>
